main.kasir #id-barang {
    width: calc(100% - 110px);
  }
  main.kasir .harga-jumlah {
    display: flex;
    align-items: center;
  }.qty-barang {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }
  .qty-barang span {
    flex: 1;
  }
  .qty-barang span:nth-child(4),
  .qty-barang span.struk-sub {
    text-align: end;
  }
  .struk-total,
  .struk-bayar,
  .struk-kembalian {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    text-align: end;
    margin-right: 55px;
  }
  